{{ $mod1_name := .Name -}}
{{ range .Upstreams -}}
import clerk.{{ $mod1_name }}.{{ .Name }}
{{ end -}}
{{ printf "\n" -}}
{{ printf "\n" -}}
def Clerk(location):
    match location:
        {{ range .Upstreams -}}
        case {{ printf "%q" .Name }}: return clerk.{{ $mod1_name }}.{{ .Name }}.Clerk
        {{ end -}}
