{{ range _, $mod3 := .mod2.Upstreams -}}
import clerk.{{ .mod1.Name }}.{{ .mod2.Name }}.{{ $mod3.Name }}
{{ end -}}


def Clerk(location):
    match location:
        {{ range _, $mod3 := .mod2.Upstreams -}}
        case {{ printf "%q" $mod3.Name }}: return clerk.{{ .mod1.Name }}.{{ .mod2.Name }}.{{ $mod3.Name }}.Clerk
        {{ end -}}
